.main-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra le card orizzontalmente */
    padding: 20px;
  }
  
  .card {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px;
    max-width: 600px; /* Imposta la larghezza massima desiderata */
    width: 100%; /* Rende la card responsiva */
  }
  
  .upload-section {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .upload-section input {
    margin-right: 10px;
  }
  